<!DOCTYPE html>
<html lang="en-US">
  <head>
     <meta name="twitter:card" content="summary_large_image"/>
     <meta name="twitter:title" content="My Personal Tome"/>
     <meta name="twitter:description" content="A digitised version of Rev. Lunar's personal satanic tome."/>
     <meta name="twitter:image" content="https://lunartiger.github.io/assets/img/dick.png"/>
     <meta property="og:title" content="My Personal Tome">
     <meta property="og:description" content="A digitised version of Rev. Lunar's personal satanic tome.">
     <meta property="og:image" content=""><meta property="og:url" content="https://lunartiger.github.io/tome">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=RyQA5rLO48">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=RyQA5rLO48">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=RyQA5rLO48">
    <link rel="manifest" href="{{ site.github.url }}/assets/site.webmanifest?v=RyQA5rLO48">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=RyQA5rLO48" color="#006900">
    <link rel="shortcut icon" href="/favicon.ico?v=RyQA5rLO48">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="theme-color" content="#006900">
    {% seo %}
  </head>

  <body>
    <header>
      <div class="container">
        <h2>{{ site.title | default: site.github.repository_name }}</h2>
        <hr />
        <details><summary>Contents</summary>
          <nav>
            <ul class="navbar">
              <li class="navbar"><a href="{{ site.github.url }}">Opening</a></li>
              <li class="navbar"><a href="{{ site.github.url }}/tenets">The 7 Tenets</a></li>
              <li class="navbar"><a href="{{ site.github.url }}/holidays">Holidays</a></li>
              <li class="navbar"><a href="{{ site.github.url }}/rosary">My Satanic Rosary</a></li>
              <li class="navbar"><a href="{{ site.github.url }}/prayers">Prayers</a></li>
              <li class="navbar"><a href="{{ site.github.url }}/sins">Sins</a></li>
              <!-- <li class="navbar"><a href="{{ site.github.url }}">Nav</a></li> -->
            </ul>
          </nav>
        </details>
        <hr />
      </div>
    </header>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>
